.wrapper {
    display: block;
}

#sidebar {
    width: 220px;
    position: fixed;
    top: 0;
    left: -220px;
    height: 100vh;
    z-index: 999;
    background: #000000;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    min-height: 100%;
}

#sidebar.active {
    left: 0px;
}

#sidebar .sidebar-header {
    padding: 20px;
    /*background-color: #1e1e1e;*/
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: .5px solid hsla(0,0%,100%,.6);
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li {
    padding: 10px;
    font-size: 1.3em;
    display: block;
    color: #9a9a9a;
}

.link {
    transition-property: color;
    transition-duration: .2s;
    transition-timing-function: linear;
    color: hsla(0,0%,100%,.6);
    cursor: pointer;
}

#sidebar ul li:hover {
    color: #fff;
}

#sidebar ul li.active {
    color: #7386D5;
}

#sidebar ul li i {
    margin-right: 3%;
}

#sidebarCollapse {
    float: left;
    visibility: hidden;
    color: white;
    background-color: transparent;
    border: 1px solid white;
}

#sidebarCollapse:hover {
    background-color: white;
    color: black;
}

.overlay {
    /* full screen */
    width: 100vw;
    height: 100vh;
    /* transparent black */
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    /* middle layer, i.e. appears below the sidebar */
    /*z-index: 998;*/
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    visibility: hidden;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: #000;
}

#dismiss .glyphicon {
    line-height: 35px;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    /*box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);*/
}

#content .navbar {
    padding: 0px 10px;
    margin-bottom: 0px;
    background-color: transparent;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.view-selector {
    display: inline-block;
    padding: 10px;
    margin: 20px 10px;
    color: #9a9a9a;
    letter-spacing: 1.5px;
    font-weight: 400;
    transition: all 0.3s;
}

.view-selector.active {
    color: white;
}

.view-selector:hover {
    color: white;
    cursor: pointer;
}

.view-selector.active:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 40px; /* Change this to whatever width you want. */
    padding-top: 20px; /* This creates some space between the element and the border. */
    border-bottom: 2px solid #7386D5;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {

    #sidebarCollapse span {
        display: none;
    }

    #dismiss {
        visibility: visible;
    }
}