#search {
    background-color: #282828;
}

#search input {
    width: 100%;
    min-height: 100px;
    padding: 25px;
    font-size: 50px;
    font-weight: 600;
    border: none;
    background-color: transparent;
    color: white;
}

#search-text {
    position: relative;
    color: white;
    text-align: left;
    top: 20px;
    padding-left: 25px;
}

#search input:focus {
    outline: none;
    caret-color: #7386D5;
}

#artist-results .result img {
    border-radius: 50%;
}

#artist-results .result {
    margin-bottom: 40px;
}

#artist-results h5 {
    color: white;
}

#history {
    text-align: left;
}

.history-item h1 {
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -.005em;
    font-weight: 600;
    text-transform: none;
    color: #9a9a9a;
    padding: 0;
    width: 100%;
    margin-bottom: 2px;
}

.history-item span {
    font-size: 11px;
    line-height: 16px;
    letter-spacing: .015em;
    font-weight: 200;
    color: hsla(0,0%,100%,.6);
    text-transform: uppercase;
    letter-spacing: .16em;
    display: block;
}

.history-item h1:hover {
    color: white;
}
